/* 레이아웃 */
.infoContainer {
  text-align: center;
}
.infoContainer .infoContents{
  width: 80%;
  display: inline-block;
}
.infoContainer .infoContents .userInfoSection{
  margin-top: 40px;
  padding: 10px;
}


/* 섹션 타이틀 */
.infoContainer .infoContents .sectionTitle{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 50px;
}

/* 유저 정보 */
.infoContainer .infoContents .userLevelSection .row_container1{
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  font-weight: bold;
}
.infoContainer .infoContents .userLevelSection .row_container1 .userName{
  margin-left: 15px;
}
.infoContainer .infoContents .userLevelSection .row_container2 .userExp{
  font-size: 25px;
  text-align: left;
}
.infoContainer .infoContents .userLevelSection .row_container3 .userInfoExpBar{
  margin: 10px 0 10px 0;
  height: 30px;
}

/* PlanList 컨테이너 */
.infoContainer .infoContents .planListContainer{
  display: flex;
  justify-content: space-around;
}
.infoContainer .infoContents .planListContainer .planList{
  flex-basis: 32%;
}

/* 차트 */
.userExpChartContainer{
  margin-top: 20px;
  overflow: auto;
  background-color: rgba(59, 254, 187, 0.5);
  width: 100%;
  height: 350px;
}