/* 레이아웃 */
.infoContainer {
  text-align: center;
}
.infoContainer .infoContents{
  width: 80%;
  display: inline-block;
}
.infoContainer .infoContents .userInfoSection{
  margin-top: 40px;
  padding: 10px;
}

/* 유저 정보 */
.infoContainer .infoContents .userLevelSection .row_container1{
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  font-weight: bold;
}
.infoContainer .infoContents .userLevelSection .row_container1 .userName{
  margin-left: 15px;
}
.infoContainer .infoContents .userLevelSection .row_container2 .userExp{
  font-size: 25px;
  text-align: left;
}
.infoContainer .infoContents .userLevelSection .row_container3 .userInfoExpBar{
  margin: 10px 0 10px 0;
  height: 30px;
}

.infoContainer .infoContents .userPlanSection .planInfoContainer .containerTitle{
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0 10px 0;
  border-bottom: 2px #000 solid;
}

/* 차트 */
.userExpChartContainer{
  margin-top: 20px;
  overflow: auto;
  background-color: #3BFEBB;
  width: 100%;
  height: 350px;
}