/* banner 레이아웃 */
.banner {
  height: 200px;
  background-color: #ddd;
  padding: 50px 0px 50px 0px;
}

/* banner 컨테이너 */
.banner .container {
  text-align: center;
}
.banner .title{
  font-size: 30px;
  font-weight: bold;
}
.banner .describe{
  margin-top: 20px;
  font-size: 25px;
}
.banner .item{
  margin-top: 40px;
}
.banner .link_btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #76BA1B;
  color: #fff;
  font-weight: bold;
  transition: 0.3s ease all;
}

.banner .link_btn:hover {
  background-color: rgba(11, 102, 35, 0.7);
}