/* 리액트 Date Range Picker 초기화 */
.react-daterange-picker__inputGroup{
  display: flex;
  justify-content: space-around;
}
.react-daterange-picker__wrapper{
  width: 350px;
}
ul{
  padding-left: 0px;
}
/* 레이아웃 */
#todo .container{
  text-align: center;
}
#todo .wrapper{
  display: inline-block;
  width: 600px;
}
#todo .section{
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 10px;
}
#todo .section_title{
  text-align: left;
  padding-left: 5px;
  border-left: 5px solid #A5F2F3;
  font-size: 27px;
  font-weight: bold;
}
#todo .section_content{
  margin-top: 20px;
}

/* 타입 영역 */
#todo .type_section {
  height: 120px;
}
#todo .type_btn {
  font-family: 'Spoqa Han Sans', 'sans-serif';
  display: inline-block;
  margin-left: 10px;
  background-color: #76BA1B;
  color: #FFF;
  width: 120px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* 날짜 설정 박스 영역 */
#todo .date_box{
  height: 350px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
#todo .date_box_title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

/* 미디어 쿼리 */
@media (max-width: 600px){
  #todo .type_btn{
    padding: 0;
  }
  #todo .type_section{
    height: auto;
  }
  #todo .section{
    width: auto;
  }
  .react-daterange-picker__wrapper{
    display: none;
  }
  #todo .wrapper{
    width: 100%;
  }
}