/* 리액트 Date Range Picker 초기화 */
.react-daterange-picker__inputGroup{
  display: flex;
  justify-content: space-around;
}
.react-daterange-picker__wrapper{
  width: 350px;
}
ul{
  padding-left: 0px;
}
/* 레이아웃 */
#todo .container{
  text-align: center;
}
#todo .wrapper{
  display: inline-block;
  width: 600px;
}
#todo .section{
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 10px;
}
#todo .section_title{
  text-align: left;
  padding-left: 5px;
  font-size: 27px;
  font-weight: bold;
}
#todo .section_content{
  margin-top: 20px;
}

/* 타입 영역 */
#todo .type_section {
  height: 120px;
}
#todo .type_btn {
  font-family: 'Spoqa Han Sans', 'sans-serif';
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;  
  background-color: #8bc34a;
  color: #FFF;
  width: 120px;
  height: 45px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 1s all ease;
}

#todo .type_btn:hover{
  background-color: #558b2f;
}

/* 날짜 설정 박스 영역 */
#todo .date_box{
  margin-bottom: 20px;
}
#todo .date_box_title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

/* 반복 요일 버튼 */
#todo .date_box .date_box_btn_container{
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
}
#todo .date_box .date_box_btn_container .btn_toggle_day{
  border: 2px solid #5E8BF2;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: 0.3s all ease;
}
#todo .date_box .date_box_btn_container .btn_toggle_day:hover{
  border: 2px solid #0048ff;
  color: #333;
  background-color: #A5F2F3;
}

/* 미디어 쿼리 */
@media (max-width: 600px){
  #todo .type_btn{
    padding: 0;
  }
  #todo .type_section{
    height: auto;
  }
  #todo .section{
    width: auto;
  }
  .react-daterange-picker__inputGroup{
    display: inline-block;
  }
  .react-daterange-picker__wrapper{
    display: inline-block;
    width: auto;
  }
  #todo .wrapper{
    width: 100%;
  }
  #todo .date_box_title{
    font-size: 16px;
  }
}