body {background: #ffffff;}
Link {text-decoration: none;}

/* Top Bar 레이아웃 */
.bar_right {width: 25%;text-align: center;}
.bar_nav {width: 50%; text-align: center;}
.bar_left {width: 25%; text-align: center;}

@media (max-width: 1100px){
    .bar_right {width: auto;}
    .bar_nav {width: auto;}
    .bar_left {width: auto;}
}

@media (max-width: 860px){
    #top_bar .bar_nav {display: none;}
}