/* Plan item layout */
.plan_item {
  padding: 6px 15px 6px 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: 1px solid #ddd;
}
.plan_item_row2 {
  display: flex;
  height: 40px;
  margin-top: 5px;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

/* 제목 */
.plan_item .plan_title{
  flex-basis: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.plan_item .plan_exp{
  width: 30%;
  margin-left: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.plan_item .plan_btn_container{
  height: 40px;
  line-height: 40px;
  display: flex;
  color: #fff;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  vertical-align: center;
}

/* 버튼 */
.plan_item .plan_btn {
  cursor: pointer;
  background: #3BFEBB;
  min-width: auto;
  width: 50px;
  margin: 0px 2px;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s ease all;
}
.plan_item .plan_btn:hover {
  background: #05AC72;
}

/* 수정모드 */
.plan_item .edit_title{
  display: block;
  width: 100%;
  font-family: 'Spoqa Han Sans', 'sans-serif';
  font-weight: bold;
  font-size: 18px;
}
.plan_item .edit_exp{
  font-size: 18px;
  font-family: 'Spoqa Han Sans', 'sans-serif';
  font-weight: bold;
}

/* Completed View */
.plan_item_completed_layout{
  background-color: #F5F5F5;
  position: relative;
}
.plan_item_completed_layout .plan_completed_view{
  position: absolute;
  top: 25%;
  right: 48%;
  color: #66BB6A;
  font-size: 28px;
}
@media (max-width: 600px){
  .plan_item{
    font-size: 13px;
  }
}
@media (max-width: 380px){
  .plan_item{
    font-size: 11px;
  }
}