body {background: #ffffff;}
Link {text-decoration: none;}

/* Top bar 레이아웃 */
#bar_space {height: 64px;}
.bar_right {width: 25%; text-align: right;}
.bar_left {width: 25%; display: flex; align-items: center;}

/* Top bar 아이템 */
.bar_left .logo {font-size: 20px; font-weight: bold;}
.bar_left .menu_button { display: none;}

.bar_nav .item {
    margin: 0 22px 0 22px; 
    color: #000000; 
    font-size: 18px;
    transition: all 0.3s ease;
}
.bar_nav .item:hover {
    color: #50BCDF;
}

/* Side Navigation */
#nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 53px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;}

#nav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.4s;
  white-space: nowrap;
}
#nav a:hover{
  color: #FFFFFF;
}

@media (max-width: 1100px){
    .bar_right {width: auto; text-align: right;}
    .bar_nav {width: 50%;}
    .bar_left {width: auto; text-align: left;}
}

@media (max-width: 860px){
  .bar_left .menu_button { margin-left: 30px; display: flex; align-items: center;}
  #top_bar .bar_nav {display: none;}
}